html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;

  font-weight: 400;
  font-family: "Cuprum", Arial, sans-serif;
  color: white;

  /* background-color: aquamarine; */
}

/* body > * {
  background-color: rgb(240, 112, 112);
} */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  width: 100%;

  background-color: #f4f7f9;
}



.logo-bg {
  display: block;
  width: 220px;
  height: 42px;
  padding: 13px 56px 15px 55px;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 rgb(181, 41, 51);
}

.logo-bg:hover {
  background-color: #ca2c37;
}

.logo-bg:active {
  background-color: #ba2732;
}

.main-header a {
  color: white;
}

.top-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu {
  width: 100%;

  font-size: 17px;
  line-height: 1.06;

  background-color: #293449;
}

.top-menu label {
  font-size: 17px;
  line-height: 1.06;
}

.top-menu input {
  background-color: #293449;
  border: none;
}

.search::-webkit-input-placeholder {
  color: white;
}
.search::-moz-placeholder {
  color: white;
}
.search:-moz-placeholder {
  color: white;
}
.search:-ms-input-placeholder {
  color: white;
}

.top-menu input:hover {
  background-color: #212a3a;
}

.top-menu input:focus {
  background-color: white;
}

.header-link:hover {
  background-color: #212a3a;
}

.header-link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.top-menu__green {
  background-color: #63a63e;
}

.top-menu__green:hover {
  background-color: #5fbb2d;
}

.top-menu__green:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518523;
}

.middle-menu,
.catalog-middle-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-wrap {
  width: 300px;
}

.header-wrapper {
  width: 300px;
}

.middle-menu h1,
.catalog-middle-menu h1 {
  width: 200px;
  margin: 0 auto;

  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  color: #ee3643;
}

.header-phone {
  font-size: 21px;
  line-height: 1;
  text-align: center;
  color: #ee3643;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 21px;
  line-height: 1;
  text-align: left;
  color: #000000;
}

.main-header > .container {
  padding-bottom: 60px;
}

.user-menu a {
  display: block;

  color: #000000;
}

.user-link:hover {
  color: #ee3643;
}

.user-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-address {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
}

.main-nav {
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 20px 0;

  list-style: none;
  font-size: 17px;
  line-height: 1;
  text-align: left;
}

.nav-item:hover {
  background-color: #293449;
}

.nav-item__link {
  display: block;
}

.nav-item__link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.company {
  width: 540px;
  margin-right: auto;

  text-align: left;
  color: #000000;
}

.company h2 {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.desc {
  font-size: 13px;
  line-height: 1.85;
  font-family: "PT Sans", Arial, sans-serif;
}

.company-list {
  font-size: 18px;
  line-height: 1.11;
}

.button {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: white;

  background-color: #ee3643;
  border: none;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.brands-cards img:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-cards img:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.about-us {
  display: flex;
}

.contacts {
  width: 300px;

  text-align: left;
  color: #000000;
}

.contacts h2 {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.footer-half-top {
  width: 100%;

  font-size: 18px;
  line-height: 1.33;

  background-color: #32425c;
}

.footer-top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
  color: #f1f5f7;
}

.footer-top-menu a:hover,
.footer-bottom-menu a:hover {
  text-decoration: underline;
}

.footer-top-menu a:active,
.footer-bottom-menu a:active {
  opacity: 0.5;
}

.footer-top-menu a {
  color: #f1f5f7;
}

.footer-top-line {
  display: flex;
}

.footer-half-top address {
  width: 380px;

  font-style: normal;
  color: #f3f7f9;
}

.footer-middle-line {
  display: flex;
}

.footer-bottom-menu {
  display: flex;
  justify-content: space-between;
  width: 540px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-left: 15px;

  list-style: none;
  color: #ffd180;;
}

.footer-bottom-menu a {
  color: #ffd180;
}

.footer-half-bottom {
  /* text-align: left; */
  width: 100%;

  font-size: 16px;
  line-height: 1.13;

  background-color: #293449;
}

.footer-half-bottom > .container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  width: 240px;
}

.social-list {
  display: flex;
  align-items: center;
  width: 150px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list a {
  color: white;
}

.feedback-wrapper {
  display: flex;
  width: 300px;
}

.color-link {
  color: #ffd180;
}

.color-link:hover {
  text-decoration: underline;
}

.color-link:active {
  color: #ee3643;
}

.modal-map {
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
}

.modal-mail label {
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #000000;
}

.modal-mail input,
.modal-mail textarea {
  font-size: 13px;
  line-height: 1.38;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: left;
  color: #a9a9a9;

  border: 2px solid #dee3e4;
}

.modal-mail input:hover,
.modal-mail textarea:hover {
  border-color: #b5b5b5;
}

.modal-mail input:focus,
.modal-mail textarea:focus {
  border-color: #ee3643;
  outline: none;
}

.modal-bg {
  background-color: #f1f1f1;
}

/* Стили каталога */

.top-menu__red {
  background-color: #ee3643;
}

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.current-user {
  width: 300px;
  padding-top: 10px;

  font-size: 21px;
  line-height: 1;
  text-align: left;
  color: #000000;
}

.catalog-middle-menu .catalog-user-link {
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  color: #32425c;
  text-decoration: underline;
}

.breadcrumbs,
.breadcrumbs a {
  list-style: none;
  font-size: 13px;
  line-height: 1.38;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: left;
  color: #000000;
}

.filters {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filters legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.76;
}

.brands-list,
.power-list {
  list-style: none;
  font-size: 15px;
  line-height: 1.33;
}

.filters-button {
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
}

.perforators h2 {
  padding: 30px 0 30px 30px;

  font-size: 30px;
  line-height: 1;
  text-align: left;
  color: #324232;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.perforators-list {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.06;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
}

.perforators-list h3 {
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
}

.price-before {
  color: #999999;
  text-decoration: line-through;
}

.real-price {
  color: white;

  background-color: #a9a9a9;
}

.logo-bg-bottom {
  /* display: block; */
  width: 220px;
  height: 68px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo-bg-bottom:hover {
  background-color: #ca2c37;
}

.logo-bg-bottom:active {
  background-color: #ba2732;
}

.catalog-modal h2 {
  font-size: 30px;
  line-height: 1;
  text-align: center;
  color: #000000;
}

.catalog-modal__button {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #000000;
}

.catalog-modal__bg {
  background-color: #f7f3ec;
}
